### Условие 1: 1 задача

- Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [2]:
import pandas as pd

re = pd.read_csv('.\kc_house_data.csv',encoding='ISO-8859-1')
re.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Нормального описания колонок в источнике нет, поэтому будем исходить из переведенных названий и логики.<br>
Некоторые колонки имеют тип **int64** , хотя там вполне подойдет **boolean** , например, имеется ли хороший вид , поле ***view*** , или водоем рядом в ***waterfront***
Поиск в гугле дал большее понимание по колонкам:
* **id** - уникальный идентификатор проданного дома
* **date** - дата сделки по продаже дома
* **price** - цена проданного дома
* **bedrooms** - количество спален 
* **sqft_living** - общая площадь жилых помещений
* **bathrooms** - кол-во ванн, где 1 - полная ванна с раковиной, туалетом,душем и ванной, 0.75 - как полная,но душ или ванна отсутствуют, 0.5 - только туалет и раковина.
* **sqft_lot** - площадь земельного участка 
* **floors** - кол-во этажей(уровней)
* **waterfront** - имеется ли вид на водоем , 0 или 1
* **view** - шкала оценки насколько хорош вид из окна от 1 до 4<br>(0 = No view, 1 = Fair 2 = Average, 3 = Good, 4 = Excellent)
* **condition** - общее состояние дома , шкала от 1 до 5<br>1 = Poor- Worn out, 2 = Fair- Badly worn, 3 = Average, 4 = Good, 5= Very Good
* **grade** - класс(категория) дома по оценочной системе США, от 1 до 13(от "избы" до дорогого особняка)
* **sqft_above** - площадь дома за вычетом подвальной(над землей)
* **sqft_basement** - площадь подвала, цокольных этажей (под землей)
* **yr_built** - год постройки
* **yr_renovated** - год последней реставрации(капремонта по нашему)
* **zipcode** - почтовый индекс
* **lat** -  координата широты
* **long**- координата долготы
* **sqft_living15** - средняя(?) площадь дома для ближайших 15 соседей
* **sqft_lot15** - средняя(?) площадь земельного участка для ближайших 15 соседей

### Условие 2: 2 задача
* Проведите первичный анализ данных
* Изучите типы данных
* Найдите количество пропущенных ячеек в данных
* Посчитайте основные статистики по всем признакам и поизучайте их
* Пишите выводы

In [2]:
re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [3]:
# re.waterfront.value_counts()
# re.view.value_counts()
re.bedrooms.value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [4]:
re.isna().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

In [5]:
re.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Видим, что вся таблица кроме поля дат имеет числовые типы, целые или вещественные, значит при числовых методах и describe лучше будет фильтровать колонки датасета. null и  значений в таблице нет, можно дополнительно не чистить, и начинать работать.

In [6]:
re[re['bedrooms'] == 33]
#данная запись не укладывается по площади, 33 спальни на 1620 футов слишком много. исправим на 3

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
15870,2402100895,20140625T000000,640000.0,33,1.75,1620,6000,1.0,0,0,...,7,1040,580,1947,0,98103,47.6878,-122.331,1330,4700

In [7]:
re.loc[15870,'bedrooms'] = 3
re.iloc[15870]

id                    2402100895
date             20140625T000000
price                   640000.0
bedrooms                       3
bathrooms                   1.75
sqft_living                 1620
sqft_lot                    6000
floors                       1.0
waterfront                     0
view                           0
condition                      5
grade                          7
sqft_above                  1040
sqft_basement                580
yr_built                    1947
yr_renovated                   0
zipcode                    98103
lat                      47.6878
long                    -122.331
sqft_living15               1330
sqft_lot15                  4700
Name: 15870, dtype: object

In [8]:
re.drop(columns=["id"]).describe().drop(labels="count")

,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,condition,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
mean,5.400881e+05,3.369454,2.114757,2079.899736,1.510697e+04,1.494309,0.007542,0.234303,3.409430,7.656873,1788.390691,291.509045,1971.005136,84.402258,98077.939805,47.560053,-122.213896,1986.552492,12768.455652
std,3.671272e+05,0.907964,0.770163,918.440897,4.142051e+04,0.539989,0.086517,0.766318,0.650743,1.175459,828.090978,442.575043,29.373411,401.679240,53.505026,0.138564,0.140828,685.391304,27304.179631
min,7.500000e+04,0.000000,0.000000,290.000000,5.200000e+02,1.000000,0.000000,0.000000,1.000000,1.000000,290.000000,0.000000,1900.000000,0.000000,98001.000000,47.155900,-122.519000,399.000000,651.000000
25%,3.219500e+05,3.000000,1.750000,1427.000000,5.040000e+03,1.000000,0.000000,0.000000,3.000000,7.000000,1190.000000,0.000000,1951.000000,0.000000,98033.000000,47.471000,-122.328000,1490.000000,5100.000000
50%,4.500000e+05,3.000000,2.250000,1910.000000,7.618000e+03,1.500000,0.000000,0.000000,3.000000,7.000000,1560.000000,0.000000,1975.000000,0.000000,98065.000000,47.571800,-122.230000,1840.000000,7620.000000
75%,6.450000e+05,4.000000,2.500000,2550.000000,1.068800e+04,2.000000,0.000000,0.000000,4.000000,8.000000,2210.000000,560.000000,1997.000000,0.000000,98118.000000,47.678000,-122.125000,2360.000000,10083.000000
max,7.700000e+06,11.000000,8.000000,13540.000000,1.651359e+06,3.500000,1.000000,4.000000,5.000000,13.000000,9410.000000,4820.000000,2015.000000,2015.000000,98199.000000,47.777600,-121.315000,6210.000000,871200.000000

### Условие 3: 3 задача
Ответьте на несколько вопросов

1.  В каком диапазоне изменяются стоимости недвижимости?
3.  Какую долю в среднем занимают жилая площадь от всей площади по всем домам?
3.  Как много домов с разными этажами в данных?
3.  Насколько хорошие состояния у домов в данных?
3.  Найдите года, когда построили первый дом, когда построили последний дом в данных?

#### В каком диапазоне изменяются стоимости недвижимости?

In [9]:
#диапазон цен с помощью выборки результата describe, так как он выдает series, 
# мы просто можем указать желаемые ключи
re['price'].describe()[['min','max']]

min      75000.0
max    7700000.0
Name: price, dtype: float64

In [10]:
#более верная выборка результата, через loc, чтобы избежать цепочек мультиндексирования
re['price'].describe().loc[['min','max']]

min      75000.0
max    7700000.0
Name: price, dtype: float64

#### Какую долю в среднем занимают жилая площадь от всей площади по всем домам?

In [11]:
re['sqft_above'].mean()/re['sqft_living'].mean()

0.8598446644333501

#### Как много домов с разными этажами в данных?

In [12]:
#посмотрим сами возможные значения
re['floors'].unique()

array([1. , 2. , 1.5, 3. , 2.5, 3.5])

In [13]:
#ответ на вопрос
re['floors'].value_counts()

1.0    10680
2.0     8241
1.5     1910
3.0      613
2.5      161
3.5        8
Name: floors, dtype: int64

#### Насколько хорошие состояния у домов в данных?

In [14]:
re['condition'].describe()

count    21613.000000
mean         3.409430
std          0.650743
min          1.000000
25%          3.000000
50%          3.000000
75%          4.000000
max          5.000000
Name: condition, dtype: float64

большая часть значений лежит между оценкой 3 и 4, то есть среднее и хорошее состояние

#### Найдите года, когда построили первый дом, когда построили последний дом в данных?

In [15]:
print(f"Первый дом построили в {re['yr_built'].min()}г")

Первый дом построили в 1900г

In [16]:
print(f"Последний дом построили в {re['yr_built'].max()}г")

Последний дом построили в 2015г

### Условие 4: 4 задача
Ответьте на несколько вопросов

1. Сколько в среднем стоят дома, у которых 2 спальни?
4. Какая в среднем общая площадь домов, у которых стоимость больше 600 000?
4. Как много домов коснулся ремонт?
4. Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [17]:
beds2 = re['price'][re['bedrooms'] == 2].mean()
print(f"В среднем дома, у которых 2 спальни, стоят {beds2:.2f}")

В среднем дома, у которых 2 спальни, стоят 401372.68

In [18]:
mid_sqr600 = re['sqft_living'][re['price']>600000].mean()
print(f"В среднем общая площадь домов со стоимостью больше 600 000 равна {mid_sqr600:.3f}")

В среднем общая площадь домов со стоимостью больше 600 000 равна 2895.474

In [19]:
renovated_houses = re[re['yr_renovated'] != 0].shape[0]
print(f"Всего было отремонтировано {renovated_houses} домов")

Всего было отремонтировано 914 домов

#### Насколько в среднем стоимость домов с оценкой grade домов выше 10 отличается от стоимости домов с оценкой grade меньше 4?

In [12]:
price_diff = re['price'][re['grade']>10].mean()-re['price'][re['grade']<4].mean()
print(f"Cредняя стоимость домов категорий 11-13 выше категорий 1-3 на {price_diff:2f}")

Cредняя стоимость домов категорий 11-13 выше категорий 1-3 на 1488885.117530

###  5 задача

#### 1.Выберите дом клиенту
*Клиент хочет дом с видом на набережную, как минимум с тремя ванными и с подвалом. Сколько вариантов есть у клиента?*

In [21]:
re['sqft_basement'].value_counts()

0      13126
600      221
700      218
500      214
800      206
       ...
518        1
374        1
784        1
906        1
248        1
Name: sqft_basement, Length: 306, dtype: int64

Отклонений по слишком маленьким подземным площадям нет, можно брать фильтр просто >0

In [22]:

print(f"Всего {re[(re['sqft_basement']>0) & (re['waterfront'] == True ) & (re['bedrooms']>=3)].shape[0]} варианта")

Всего 84 варианта

In [3]:
re['sqft_living'].value_counts()

1300    138
1400    135
1440    133
1800    129
1660    129
       ...
9890      1
5584      1
1961      1
5720      1
1425      1
Name: sqft_living, Length: 1038, dtype: int64

#### 2.Выберите дом клиенту
*Клиент хочет дом либо с очень красивым видом из окна, либо с видом на набережную, в очень хорошем состоянии и год постройки не меньше 1980 года. В какой ценовом диапазоне будут дома?*

In [23]:
client2_choice = re[(re['waterfront']==True) | 
    (re['view'] == 4) & 
    (re['condition'] == 5) & 
    (re['yr_built'] >= 1980)]['price']
print(f"Такие дома стоят в диапазоне от {client2_choice.min():.0f} до {client2_choice.max():.0f}")

Такие дома стоят в диапазоне от 285000 до 7062500

#### 3.Выберите дом клиенту
*Клиент хочет дом без подвала, с двумя этажами, стоимостью до 150000. Какая оценка по состоянию у таких домов в среднем?*

In [24]:
re[(re['sqft_basement'] == 0) &
    (re['floors']>=2) &
    (re['price'] <= 150000)]['condition'].mean()

3.0