### Условие 1: 1 задача

- Скачать данные по ссылке https://www.kaggle.com/datasets/esratmaria/house-price-dataset-with-other-information
- Считать данные с помощью pandas
- Вывести на экран первые 5 строк
- Посмотреть на описание признаков и на их содержание

In [2]:
import pandas as pd

re = pd.read_csv('.\kc_house_data.csv',encoding='ISO-8859-1')
re.head()

,id,date,price,bedrooms,bathrooms,sqft_living,sqft_lot,floors,waterfront,view,...,grade,sqft_above,sqft_basement,yr_built,yr_renovated,zipcode,lat,long,sqft_living15,sqft_lot15
0,7129300520,20141013T000000,221900.0,3,1.00,1180,5650,1.0,0,0,...,7,1180,0,1955,0,98178,47.5112,-122.257,1340,5650
1,6414100192,20141209T000000,538000.0,3,2.25,2570,7242,2.0,0,0,...,7,2170,400,1951,1991,98125,47.7210,-122.319,1690,7639
2,5631500400,20150225T000000,180000.0,2,1.00,770,10000,1.0,0,0,...,6,770,0,1933,0,98028,47.7379,-122.233,2720,8062
3,2487200875,20141209T000000,604000.0,4,3.00,1960,5000,1.0,0,0,...,7,1050,910,1965,0,98136,47.5208,-122.393,1360,5000
4,1954400510,20150218T000000,510000.0,3,2.00,1680,8080,1.0,0,0,...,8,1680,0,1987,0,98074,47.6168,-122.045,1800,7503

Нормального описания колонок в источнике нет, поэтому будем исходить из переведенных названий и логики.<br>
Некоторые колонки имеют тип **int64** , хотя там вполне подойдет **boolean** , например, имеется ли хороший вид , поле ***view*** , или водоем рядом в ***waterfront***
Поиск в гугле дал большее понимание по колонкам:
* **id** - уникальный идентификатор проданного дома
* **date** - дата сделки по продаже дома
* **price** - цена проданного дома
* **bedrooms** - количество спален 
* **sqft_living** - общая площадь жилых помещений
* **bathrooms** - кол-во ванн, где 1 - полная ванна с раковиной, туалетом,душем и ванной, 0.75 - как полная,но душ или ванна отсутствуют, 0.5 - только туалет и раковина.
* **sqft_lot** - площадь земельного участка 
* **floors** - кол-во этажей(уровней)
* **waterfront** - имеется ли вид на водоем , 0 или 1
* **view** - шкала оценки насколько хорош вид из окна от 1 до 4<br>(0 = No view, 1 = Fair 2 = Average, 3 = Good, 4 = Excellent)
* **condition** - общее состояние дома , шкала от 1 до 5<br>1 = Poor- Worn out, 2 = Fair- Badly worn, 3 = Average, 4 = Good, 5= Very Good
* **grade** - класс(категория) дома по оценочной системе США, от 1 до 13(от "избы" до дорогого особняка)
* **sqft_above** - площадь дома за вычетом подвальной(над землей)
* **sqft_basement** - площадь подвала, цокольных этажей (под землей)
* **yr_built** - год постройки
* **yr_renovated** - год последней реставрации(капремонта по нашему)
* **zipcode** - почтовый индекс
* **lat** -  координата широты
* **long**- координата долготы
* **sqft_living15** - средняя(?) площадь дома для ближайших 15 соседей
* **sqft_lot15** - средняя(?) площадь земельного участка для ближайших 15 соседей

### Условие 2: 2 задача
* Проведите первичный анализ данных
* Изучите типы данных
* Найдите количество пропущенных ячеек в данных
* Посчитайте основные статистики по всем признакам и поизучайте их
* Пишите выводы

In [3]:
re.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 21613 entries, 0 to 21612
Data columns (total 21 columns):
 #   Column         Non-Null Count  Dtype
---  ------         --------------  -----
 0   id             21613 non-null  int64
 1   date           21613 non-null  object
 2   price          21613 non-null  float64
 3   bedrooms       21613 non-null  int64
 4   bathrooms      21613 non-null  float64
 5   sqft_living    21613 non-null  int64
 6   sqft_lot       21613 non-null  int64
 7   floors         21613 non-null  float64
 8   waterfront     21613 non-null  int64
 9   view           21613 non-null  int64
 10  condition      21613 non-null  int64
 11  grade          21613 non-null  int64
 12  sqft_above     21613 non-null  int64
 13  sqft_basement  21613 non-null  int64
 14  yr_built       21613 non-null  int64
 15  yr_renovated   21613 non-null  int64
 16  zipcode        21613 non-null  int64
 17  lat            21613 non-null  float64
 18  long           21613 non-null  float64
 19  sqft_living15  21613 non-null  int64
 20  sqft_lot15     21613 non-null  int64
dtypes: float64(5), int64(15), object(1)
memory usage: 3.5+ MB

In [28]:
re.waterfront.value_counts()

0    21450
1      163
Name: waterfront, dtype: int64

In [ ]:
re.isna().sum()

In [9]:
re.isnull().sum()

id               0
date             0
price            0
bedrooms         0
bathrooms        0
sqft_living      0
sqft_lot         0
floors           0
waterfront       0
view             0
condition        0
grade            0
sqft_above       0
sqft_basement    0
yr_built         0
yr_renovated     0
zipcode          0
lat              0
long             0
sqft_living15    0
sqft_lot15       0
dtype: int64

Видим, что вся таблица кроме поля дат имеет числовые типы, целые или вещественные, значит при числовых методах и describe лучше будет фильтровать колонки датасета. null и  значений в таблице нет, можно дополнительно не чистить, и начинать работать.

In [13]:
re.view.value_counts()

0    19489
2      963
3      510
1      332
4      319
Name: view, dtype: int64

In [14]:
re.bedrooms.value_counts()

3     9824
4     6882
2     2760
5     1601
6      272
1      199
7       38
0       13
8       13
9        6
10       3
11       1
33       1
Name: bedrooms, dtype: int64

In [25]:
re[re['bedrooms'] == 33]
#данная запись не укладывается по площади, 33 спальни на 1620 футов слишком много. исправим на 3

Empty DataFrame
Columns: [id, date, price, bedrooms, bathrooms, sqft_living, sqft_lot, floors, waterfront, view, condition, grade, sqft_above, sqft_basement, yr_built, yr_renovated, zipcode, lat, long, sqft_living15, sqft_lot15]
Index: []

[0 rows x 21 columns]

In [26]:
re.loc[15870,'bedrooms'] = 3
re.iloc[15870]

id                    2402100895
date             20140625T000000
price                   640000.0
bedrooms                       3
bathrooms                   1.75
sqft_living                 1620
sqft_lot                    6000
floors                       1.0
waterfront                     0
view                           0
condition                      5
grade                          7
sqft_above                  1040
sqft_basement                580
yr_built                    1947
yr_renovated                   0
zipcode                    98103
lat                      47.6878
long                    -122.331
sqft_living15               1330
sqft_lot15                  4700
Name: 15870, dtype: object

In [5]:
re['yr_built'].min()

1900