In [ ]:

# Python3 code to demonstrate working of
# Getting first key in dictionary
# Using next() + iter()
 
# initializing dictionary
test_dict = {'Gfg' : 1, 'is' : 2, 'best' : 3}
 
# printing original dictionary
print("The original dictionary is : " + str(test_dict))
 
# Using next() + iter()
# Getting first key in dictionary
res = next(iter(test_dict))
 
# printing initial key
print("The first key of dictionary is : " + str(res))

In [4]:
import pandas as pd

In [ ]:

#одномерные, с автоматической индексацией или ручной
inp1 = [4,7,6,3,9]
inp1_k = ['one','two','three','four','five']
inp1_k_small = ['odin','dva','tri','chetire']
a = pd.Series(inp1)
a

In [ ]:
pd.Series(inp1,inp1_k)

In [ ]:
pd.Series(inp1,inp1_k_small)
#списки должны быть одинаковы

In [14]:
df = pd.read_csv(".\Churn_Modelling.csv")
type(df.shape[0])
df.shape

(10000, 14)

In [15]:
df.count

<bound method DataFrame.count of       RowNumber  CustomerId    Surname  CreditScore Geography  Gender  Age  \
0             1    15634602   Hargrave          619    France  Female   42
1             2    15647311       Hill          608     Spain  Female   41
2             3    15619304       Onio          502    France  Female   42
3             4    15701354       Boni          699    France  Female   39
4             5    15737888   Mitchell          850     Spain  Female   43
...         ...         ...        ...          ...       ...     ...  ...
9995       9996    15606229   Obijiaku          771    France    Male   39
9996       9997    15569892  Johnstone          516    France    Male   35
9997       9998    15584532        Liu          709    France  Female   36
9998       9999    15682355  Sabbatini          772   Germany    Male   42
9999      10000    15628319     Walker          792    France  Female   28

      Tenure    Balance  NumOfProducts  HasCrCard  IsActiveMember  \
0          2       0.00              1          1               1
1          1   83807.86              1          0               1
2          8  159660.80              3          1               0
3          1       0.00              2          0               0
4          2  125510.82              1          1               1
...      ...        ...            ...        ...             ...
9995       5       0.00              2          1               0
9996      10   57369.61              1          1               1
9997       7       0.00              1          0               1
9998       3   75075.31              2          1               0
9999       4  130142.79              1          1               0

      EstimatedSalary  Exited
0           101348.88       1
1           112542.58       0
2           113931.57       1
3            93826.63       0
4            79084.10       0
...               ...     ...
9995         96270.64       0
9996        101699.77       0
9997         42085.58       1
9998         92888.52       1
9999         38190.78       0

[10000 rows x 14 columns]>